input,
select {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  background-color: transparent;
  font-family: "微软雅黑";
}
input {
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
  border: none;
  appearance: none;
}
$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$bg-color: #b5243c;
a {
  &:hover {
    color: $bg-color;
  }
}
$padding: pr(30px);
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap {
  width: pr(750px);
  margin: 0 auto;
  font-size: pr(24px);
  font-family: "Microsoft Yahei";
}
.header {
  padding: 0 $padding;
  height: pr(90px);
  @extend .space-between;
  .h-l {
    @extend .space-between;
    .h1 {
      width: pr(162px);
      height: pr(54px);
    }
  }
  .h-r {
    padding: 0 pr(6px);
    font-size: pr(18px);
    line-height: pr(26px);
    color: #ffffff;
    background: $bg-color;
  }
}
.sublogo {
  padding-left: pr(24px);
  margin-left: pr(24px);
  font-size: pr(34px);
  border-left: 1px solid #ddd;
}
.banner {
  // display: none;
  a {
    display: block;
    height: pr(720px);
  }
}
.title {
  margin-bottom: pr(50px);
  font-size: pr(40px);
  line-height: pr(40px);
  font-weight: bold;
  text-align: center;
  span {
    color: $bg-color;
  }
}
.condition {
  // display: none;
  padding: pr(70px) $padding 0;
  .en-title {
    background: url(../images/t-y.png) no-repeat center;
  }
  .c-col {
    margin-bottom: pr(40px);
    font-size: pr(30px);
    font-weight: bold;
    span {
      padding-left: pr(52px);
      margin-right: pr(40px);
      font-size: pr(28px);
      font-weight: normal;
      background: url(../images/c2-nor.png) no-repeat left;
      background-size: auto 100%;
      cursor: pointer;
      &.on {
        background: url(../images/c2-sel.png) no-repeat left;
        background-size: auto 100%;
      }
    }
  }
  input {
    width: 100%;
    height: pr(88px);
    line-height: pr(88px);
    margin-bottom: pr(32px);
    background-color: #f3f3f3;
    border-radius: pr(6px);
    text-indent: 1em;
    font-size: pr(30px);
  }
  .submit {
    text-indent: 0;
    background: $bg-color;
    color: #fff;
  }
  .hint {
    font-size: pr(24px);
    color: #999999;
    text-align: center;
  }
}
.en-title {
  height: pr(30px);
  background: url(../images/t-r.png) no-repeat center;
  background-size: auto 100%;
  margin-bottom: pr(20px);
}
.question {
  // display: none;
  padding: pr(70px) $padding pr(48px);
  margin-bottom: pr(10px);
  .title {
    line-height: pr(60px);
    background: url(../images/q.png) no-repeat 75%;
    background-size: auto 100%;
  }
  .q-cont {
    @extend .space-between;
    li {
      @extend .space-between;
      width: 48%;
      padding: pr(22px) pr(16px) pr(22px) pr(22px);
      box-sizing: border-box;
      margin-bottom: pr(20px);
      background-color: #ffffff;
      border: solid 1px $bg-color;
      .num {
        align-self: flex-start;
        width: pr(40px);
        height: pr(40px);
        line-height: pr(40px);
        margin-right: pr(12px);
        background: $bg-color;
        font-size: pr(29px);
        color: #ffffff;
        text-align: center;
      }
      .detail {
        flex: 1;
        p {
          font-size: pr(24px);
          line-height: pr(24px);
          color: #999999;
        }
        .row {
          @extend .space-between;
          font-size: pr(30px);
          font-weight: bold;
          span {
            color: $bg-color;
          }
        }
      }
    }
  }
}
.intro {
  // display: none;
  padding: pr(48px) $padding pr(29px);
  background: url(../images/bg_1.jpg) no-repeat;
  .i-cont {
    @extend .space-between;
    li {
      position: relative;
      width: 48%;
      padding: pr(24px) pr(18px);
      box-sizing: border-box;
      margin-bottom: pr(20px);
      background-color: #ffffff;
      box-shadow: 0px 0px 8px 0px rgba(181, 36, 60, 0.08);
      img {
        display: block;
        height: pr(100px);
        margin: 0 auto;
      }
    }
    .name {
      white-space: nowrap;
      font-size: pr(26px);
      line-height: pr(60px);
      font-weight: bold;
    }
    p {
      line-height: pr(24px);
    }
    .down {
      position: absolute;
      right: 0;
      bottom: 0;
      width: pr(62px);
      height: pr(53px);
      background: url(../images/down.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}
.academy {
  // display: none;
  padding: pr(70px) 0;
  .a-head {
    @extend .space-between;
    padding: 0 $padding;
    font-size: pr(24px);
    span {
      display: flex;
      align-items: center;
      width: 27%;
      padding: 0 pr(16px);
      height: pr(88px);
      line-height: pr(32px);
      margin-bottom: pr(20px);
      border-radius: pr(44px);
      border: solid 1px #aaaaaa;
      color: #aaa;
      cursor: pointer;
      text-align: center;
      &.on {
        border: solid 1px $bg-color;
        background-color: $bg-color;
        color: #fff;
      }
    }
  }
  .a-cont {
    padding: 0 pr(19px);
    li {
      display: none;
      padding: pr(8px) pr(41px) pr(40px);
      background: url(../images/bg_2.png) no-repeat;
      background-size: 100% 100%;
      &.on {
        display: block;
      }
      .bg {
        margin-bottom: pr(28px);
      }
      .name {
        display: flex;
        align-items: center;
        line-height: pr(38px);
        margin-right: pr(16px);
        margin-bottom: pr(20px);
        font-size: pr(34px);
        font-weight: bold;
        em {
          width: pr(92px);
          height: pr(38px);
          line-height: pr(38px);
          margin-left: pr(16px);
          font-size: pr(24px);
          background-color: #cbaf69;
          border-radius: pr(19px) pr(19px) pr(19px) 0px;
          text-align: center;
          color: #fff;
        }
      }
      p {
        display: flex;
        align-items: center;
        line-height: pr(34px);
        margin-bottom: pr(20px);
        em {
          font-size: pr(34px);
          color: $bg-color;
        }
      }
      .row {
        padding-left: pr(35px);
        line-height: pr(40px);
        color: #666666;
        background: url(../images/icon_1.png) no-repeat left;
        background-size: auto pr(18px);
      }
      a {
        display: block;
        margin: pr(30px) auto 0;
        width: pr(260px);
        height: pr(88px);
        line-height: pr(88px);
        font-size: pr(30px);
        color: #ffffff;
        background: $bg-color;
        box-shadow: 0px pr(8px) pr(8px) 0px rgba(181, 36, 60, 0.16);
        border-radius: pr(44px);
        text-align: center;
      }
    }
  }
}
.job {
  // display: none;
  .j-head {
    padding: pr(30px) 0 pr(30px) pr(30px);
    font-size: pr(47px);
    line-height: pr(47px);
    background: $bg-color;
    color: #fff;
    .time {
      font-size: pr(60px);
    }
    .name {
      font-weight: bold;
    }
    .degree {
      font-weight: bold;
      color: #cbaf69;
    }
  }
  .j-middle {
    height: pr(88px);
    line-height: pr(88px);
    margin-left: pr(30px);
    font-size: pr(60px);
    background: #cbaf69;
    text-align: center;
    color: #fff;
  }
  .j-cont {
    padding: pr(48px) pr(30px) 0;
    @extend .space-between;
    li {
      width: 48%;
      margin-bottom: pr(24px);
      background-color: #f1f1f1;
      text-align: center;
    }
    .c-top {
      position: relative;
      height: pr(164px);
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        line-height: pr(140px);
        font-size: pr(32px);
        font-weight: bold;
        color: #ffffff;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: pr(154px);
      line-height: pr(34px);
      .strong {
        color: $bg-color;
      }
    }
  }
}
.subtitle {
  line-height: pr(28px);
  font-size: pr(22px);
  letter-spacing: pr(11px);
  color: #999999;
  text-align: center;
  span {
    color: $bg-color;
  }
}
.accept {
  // display: none;
  padding: pr(48px) $padding 0;
  .title {
    margin-bottom: 20px;
  }
  .detail {
    @extend .space-between;
    padding-top: pr(40px);
    img {
      width: 48%;
      margin-bottom: pr(20px);
    }
  }
}
.select {
  // display: none;
  padding: pr(52px) 0 0;
  .title {
    margin-bottom: pr(22px);
  }
  .subtitle {
    letter-spacing: pr(4px);
  }
  .s-cont {
    padding: 0 $padding;
    margin-top: pr(215px);
    background: $bg-color;
    .c-left {
      position: relative;
      height: pr(233px);
      img {
        position: absolute;
        top: -74%;
        left: 0;
        right: 0;
        margin: auto;
        height: pr(408px);
      }
    }
    .c-right {
      padding: pr(40px) 0 pr(16px);
      .r-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: pr(38px);
        line-height: pr(32px);
        font-size: pr(32px);
        color: #ffffff;
        img {
          height: pr(22px);
          margin: 0 pr(13px);
        }
      }
      .sign-in {
        color: #fff;
      }
      select,
      input {
        width: 100%;
        height: pr(88px);
        line-height: pr(88px);
        margin-bottom: pr(32px);
        border-radius: pr(6px);
      }
      select {
        padding: 0 1em;
        background: url(../images/icon_2.png) no-repeat #fff 96%;
        background-size: pr(22px) pr(14px);
      }
      input {
        text-indent: 1em;
        background-color: #ffffff;
      }
      input[type="submit"] {
        font-size: pr(30px);
        color: #ffffff;
        text-indent: 0;
        background-color: #cbaf69;
      }
    }
  }
}
.courses {
  // display: none;
  padding: pr(70px) $padding;
  .title {
    line-height: pr(54px);
    span {
      display: block;
    }
  }
  .c-col {
    margin-bottom: pr(40px);
    font-size: pr(30px);
    font-weight: bold;
    span {
      padding-left: pr(52px);
      margin-right: pr(40px);
      font-size: pr(28px);
      font-weight: normal;
      background: url(../images/c2-nor.png) no-repeat left;
      background-size: auto 100%;
      cursor: pointer;
      &.on {
        background: url(../images/c2-sel.png) no-repeat left;
        background-size: auto 100%;
      }
    }
  }
  input {
    width: 100%;
    height: pr(88px);
    line-height: pr(88px);
    margin-bottom: pr(32px);
    background-color: #f3f3f3;
    border-radius: pr(6px);
    text-indent: 1em;
    font-size: pr(30px);
  }
  .submit {
    text-indent: 0;
    background: $bg-color;
    color: #fff;
  }
  .hint {
    font-size: pr(24px);
    color: #999999;
    text-align: center;
  }
}
.footer {
  // display: none;
  padding: pr(40px) 0;
  margin-bottom: pr(100px);
  line-height: pr(33px);
  font-size: pr(24px);
  background-color: #ededed;
  text-align: center;
}
.footer-fixed {
  position: fixed;
  bottom: 0;
  z-index: 200;
  @extend .space-between;
  width: pr(750px);
  height: pr(100px);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: pr(30px);
    background: $bg-color;
    color: #fff;
    img{
      height: pr(30px);
      margin-right: pr(10px);
    }
    &:first-child{
      background: #2a4f72;
    }
  }
}
